bugs
build

# Rust
target
Cargo.lock

# Python
__pycache__/
*.egg-info/
*.egg

# Sphinx documentation
_build
_autosummary

*.bed.gz

# Test suite artifacts
.hypothesis
.coverage

# h5ad
*.h5ad
*.h5ads