bugs
build
*.png
*.ipynb
*.bw
*.gz

# Rust
target
Cargo.lock

# Python
__pycache__/
*.egg-info/
*.egg

# Sphinx documentation
_build
_autosummary

# Test suite artifacts
.hypothesis
.coverage

# h5ad
*.h5ad
*.h5ads
/snapatac2-contrib/clustering_metric/
