[package]
name = "snapatac2"
version = "2.0.0"
edition = "2021"
authors = ["Kai Zhang <kai@kzhang.org>"]
description = "Rust APIs"
license = "MIT"
readme = "README.md"
repository = "https://github.com/"
homepage = "https://github.com/"
keywords = ["single-cell", "biology"]

[dependencies]
#anndata-rs = { path = "../../anndata-rs/anndata-rs" }
#pyanndata = { path = "../../anndata-rs/pyanndata" }
anndata-rs = { git = "https://github.com/kaizhang/anndata-rs.git", rev = "0791a171836c026b89fe2cd9bc9d3d2f73c0d923" }
pyanndata = { git = "https://github.com/kaizhang/anndata-rs.git", rev = "0791a171836c026b89fe2cd9bc9d3d2f73c0d923" }
#snapatac2-core = { git = "https://github.com/kaizhang/SnapATAC2.git", rev = "c7ef4a3d5f3a61472a88deeb990e192d7a2e52a3" }
snapatac2-core = { path = "../snapatac2-core" }
bed-utils = { git = "https://github.com/kaizhang/bed-utils.git", rev = "cded506230e8d259f7c909df1ef6f53d6fea095a" }
itertools = "0.8"
flate2 = "1.0"
regex = "1.6"
hdf5 = "0.8"
rayon = "1.5"
linreg = "0.2"
noodles = { version = "0.26.0", features = ["bam", "sam"] }
numpy = "0.17.1"
nalgebra-sparse = "0.7"
ndarray = "0.15"
linfa = "0.6"
linfa-clustering = "0.6"
rand_isaac = "0.3"
rand_core = "0.6"
hora = "0.1"
polars = { version = "0.23", features = ["ndarray", "dtype-categorical"] }
tempfile = "3.3"
[target.'cfg(not(target_env = "msvc"))'.dependencies]
tikv-jemallocator = {version = "0.5", features = ["disable_initial_exec_tls"]}

[dependencies.pyo3]
version = "0.17.1"
features = ["extension-module"]

[lib]
name = "_snapatac2"
crate-type = ["cdylib"]
