[package]
name = "snapatac2"
version = "2.5.0"
edition = "2021"
authors = ["Kai Zhang <kai@kzhang.org>"]
description = "Rust APIs"
license = "MIT"
readme = "README.md"
repository = "https://github.com/"
homepage = "https://github.com/"
keywords = ["single-cell", "biology"]

[dependencies]
snapatac2-core = { path = "../snapatac2-core" }
#snapatac2-core = { git = "https://github.com/kaizhang/SnapATAC2.git", rev = "b526e4907a01c46821716545622394518348a2ac" }
anndata = { git = "https://github.com/kaizhang/anndata-rs.git", rev = "959dc1244e3d11d7ab67cb4b422eca38a2e4d8fc" }
anndata-hdf5 = { git = "https://github.com/kaizhang/anndata-rs.git", rev = "959dc1244e3d11d7ab67cb4b422eca38a2e4d8fc" }
pyanndata = { git = "https://github.com/kaizhang/anndata-rs.git", rev = "959dc1244e3d11d7ab67cb4b422eca38a2e4d8fc" }
extsort = "0.4"
anyhow = "1.0"
bed-utils = { git = "https://github.com/kaizhang/bed-utils.git", rev = "d06f2b4ff189c64bc0d3f7054f4ee8d0797368ca" }
flate2 = "1.0"
itertools = "0.11"
indicatif = "0.17"
linreg = "0.2"
log = "0.4"
linfa = "0.6"
linfa-clustering = "0.6"
noodles = { version = "0.53", features = ["bam", "sam"] }
numpy = "0.19.0"
nalgebra-sparse = "0.9"
nalgebra = "0.32"
ndarray = "0.15"
polars = { version = "0.32", features = ["ndarray", "dtype-categorical"] }
pyo3-log = "0.8"
rand_isaac = "0.3"
rand_core = "0.6"
rand = "0.8"
rayon = "1.8"
statrs = "0.16"
tempfile = "3.3"
zstd = { version = "0.13", features = ["zstdmt"] }

[target.'cfg(not(target_env = "msvc"))'.dependencies]
tikv-jemallocator = {version = "0.5", features = ["disable_initial_exec_tls"]}

[dependencies.pyo3]
version = "0.19.2"
features = ["extension-module", "anyhow"]

[lib]
name = "_snapatac2"
crate-type = ["cdylib"]