name: Continuous integration

on: [push, pull_request]

jobs:
  build_and_test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
      with:
        lfs: true

    - uses: actions-rs/toolchain@v1
      with:
        toolchain: stable

    - name: Install dependency
      run: |
        sudo apt-get install -y libhdf5-serial-dev
        sudo pip install --upgrade pip

    - name: Build and test package
      run: |
        cd ${GITHUB_WORKSPACE}/snapatac2-core && cargo test --all --no-fail-fast
        cd ${GITHUB_WORKSPACE}/snapatac2-python && pip install --user . --use-feature=in-tree-build
        python ${GITHUB_WORKSPACE}/snapatac2-python/tests/test.py