name: Continuous integration

on: [push, pull_request]

jobs:
  build_and_test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
      with:
        fetch-depth: 0

    - name: Create LFS file list
      run: git lfs ls-files -l | cut -d' ' -f1 | sort > .lfs-assets-id

    - name: Restore LFS cache
      uses: actions/cache@v2
      id: lfs-cache
      with:
        path: .git/lfs
        key: ${{ runner.os }}-lfs-${{ hashFiles('.lfs-assets-id') }}-v1

    - name: Git LFS Pull
      run: git lfs pull

    - uses: actions-rs/toolchain@v1
      with:
        toolchain: stable

    - name: Install dependency
      run: |
        sudo apt-get install -y libhdf5-serial-dev pandoc
        sudo pip install --upgrade pip
        pip install --user Pygments==2.6.1 sphinx==4.4.0 pandoc nbsphinx \
          sphinx-autodoc-typehints \
          sphinx-multiversion \
          sphinx_rtd_theme \
          markupsafe==2.0.1 

    - name: Build and test package
      run: |
        cd ${GITHUB_WORKSPACE}/snapatac2-core && cargo test --all --no-fail-fast
        cd ${GITHUB_WORKSPACE}/snapatac2-python && \
          pip install --user . --use-feature=in-tree-build
        python ${GITHUB_WORKSPACE}/snapatac2-python/tests/test.py

    - name: Build doc
      run: |
        cd ${GITHUB_WORKSPACE}
        sphinx-multiversion ${GITHUB_WORKSPACE}/docs _build/html
        mv ${GITHUB_WORKSPACE}/docs/github_page_redirect.html _build/html/index.html

    - name: Upload doc
      uses: actions/upload-artifact@v2
      with:
        name: documentation
        path: ./_build/html

  upload_gh-page:
    #if: startsWith(github.ref, 'refs/tags/v')
    name: Publish
    runs-on: ubuntu-latest
    needs: [build_and_test]
    steps:
    - name: Download
      uses: actions/download-artifact@v2

    - name: Upload doc
      uses: peaceiris/actions-gh-pages@v3
      if: ${{ github.ref == 'refs/heads/main' }}
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        publish_dir: ./documentation
        publish_branch: gh-pages
        force_orphan: true
